@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  transition: all 0.5s ease-in-out;
  font-family: 'Montserrat', sans-serif;
}

.modal-backdrop.show {
  opacity: 0.99;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.cool-img {
  animation: cool-img-animation 1s linear 0s infinite alternate none;
  color: aliceblue;
}

@keyframes cool-img-animation {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}